@import url(https://fonts.google.com/specimen/Big+Shoulders+Display&https://fonts.google.com/specimen/Lexend+Deca);

body {


font-size: 16px;
min-height: 100vh;
}
.card{
    background-color: hsl(0, 0%, 95%);
    width: 850px;
    margin: 100px 200px 50px 300px;
    display: flex;
    align-items: center;
    
}
button{
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px 20px ;
    border-style: none;
    width: 120px;
    height: 40px;
    margin: 20px;
}
img{
    margin: 20px 0 0 10px;
}
h1{
    font-family: 'Big Shoulders Display', sans-serif;
    color: hsl(0, 0%, 95%);
    padding: 0 20px;
}
p{
   color: hsla(0, 0%, 100%, 0.75);
   line-height: 30px;
   padding: 10px;
   margin: 5px;
   font-family: 'Lexend Deca', sans-serif;
}
.card-1{
    background-color: hsl(31, 77%, 52%);
    padding: 20px;
    width: 50%;
    height: 50%;
}
.card1button{
    color: hsl(31, 77%, 52%);
}
.card1button:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid white;
    cursor: pointer;
}
.card-2{
    background-color: hsl(184, 100%, 22%);
    width: 50%;
    height: 50%;
    padding: 20px;
}
.card2button{
    color: hsl(184, 100%, 22%);
}
.card2button:hover{
    background-color:hsl(184, 100%, 22%) ;
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid white;
    cursor: pointer;
}
.card-3{
    background-color:hsl(179, 100%, 13%);
    width: 50%;
    height: 50%;
    padding: 20px;
}
.card3button{
    color:hsl(179, 100%, 13%);
}
.card3button:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 2px solid white;
    cursor: pointer;
}
footer {
    text-align: center;
}

@media only screen and (max-width : 1240px){

    body{
        margin-left:50px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;

    }
    .card{
        width: 375px;
        margin-top: 50px;
        flex-direction: column;
    
        justify-content: center;
        align-items:center;
        margin: 0;        
    }
    .card-1{
        width: 375px;
    }
    .card-2{
        width: 375px;
    }
    .card-3{
        width: 375px;
    }
    footer{
        padding: 30px;
    }
}    


/* .......................................GRID-TASK CSS................*/



.grid-container {
    width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 {
    width: 500px;
    height: 200px;
  }
  .item2 {
    width: 200px;
    height: 200px;
  }
  
  .item3 {
    width: 200px;
    height: 200px;
  }
  
   


